# Root .editorconfig file
root = true

# Default settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go files
[*.go]
max_line_length = 99
tab_width = 4
indent_style = tab
indent_size = 4

# Markdown files
[*.md]
indent_style = space
indent_size = 2
max_line_length = 999
trim_trailing_whitespace = false

# YAML files
[*.yaml]
[*.yml]
indent_style = space
indent_size = 2
