name: pull-request-main

on:
  merge_group:
  pull_request:
    branches:
      - main

jobs:
  ci-lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Linting Go
        uses: smartcontractkit/.github/actions/ci-lint-go@7a4d99cb349ea8f25195d2390d157942031f8a57
        with:
          golangci-lint-version: v1.61.0

  ci-lint-misc:
    name: Linting GH Actions files and shell scripts
    runs-on: ubuntu-latest
    steps:
      - name: Linting Go Misc
        uses: smartcontractkit/.github/actions/ci-lint-misc@7a4d99cb349ea8f25195d2390d157942031f8a57


  ci-test:
    name: Tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Build and test
        uses: smartcontractkit/.github/actions/ci-test-go@7a4d99cb349ea8f25195d2390d157942031f8a57
        with:
          go-test-cmd: go test -coverprofile=coverage.txt $(go list ./pkg/...)
          use-go-cache: true
