name: pull-request-main

on:
  merge_group:
  pull_request:
    branches:
      - main

jobs:
  ci-lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Linting Go
        uses: smartcontractkit/.github/actions/ci-lint-go@7a4d99cb349ea8f25195d2390d157942031f8a57
        with:
          golangci-lint-version: v1.61.0
          # grafana inputs
#          metrics-job-name: ci-test
#          gc-basic-auth: ${{ secrets.GRAFANA_INTERNAL_BASIC_AUTH }}
#          gc-host: ${{ secrets.GRAFANA_INTERNAL_HOST }}
#          gc-org-id: ${{ secrets.GRAFANA_INTERNAL_TENANT_ID }}

  ci-lint-misc:
    name: Lint GH Actions and scripts
    runs-on: ubuntu-latest
    steps:
      - name: Linting Misc (yaml + sh files)
        uses: smartcontractkit/.github/actions/ci-lint-misc@7a4d99cb349ea8f25195d2390d157942031f8a57
        with:
#          # grafana inputs
#          metrics-job-name: ci-lint-misc
#          gc-basic-auth: ${{ secrets.GRAFANA_INTERNAL_BASIC_AUTH }}
#          gc-host: ${{ secrets.GRAFANA_INTERNAL_HOST }}
#          gc-org-id: ${{ secrets.GRAFANA_INTERNAL_TENANT_ID }}

  ci-test:
    name: Tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Build and test
        uses: smartcontractkit/.github/actions/ci-test-go@7a4d99cb349ea8f25195d2390d157942031f8a57
        with:
          go-test-cmd: go test -coverprofile=coverage.txt $(go list ./...)
          use-go-cache: true
#          # grafana inputs
#          metrics-job-name: ci-test
#          gc-basic-auth: ${{ secrets.GRAFANA_INTERNAL_BASIC_AUTH }}
#          gc-host: ${{ secrets.GRAFANA_INTERNAL_HOST }}
#          gc-org-id: ${{ secrets.GRAFANA_INTERNAL_TENANT_ID }}

  ci-sonarqube:
    name: Sonarqube Scan
    needs: [ ci-lint, ci-lint-misc, ci-test ]
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - name: Scanning with Sonarqube
        uses: smartcontractkit/.github/actions/ci-sonarqube-go@f1f2dac0a20f0e02408eb7f528c768fe95c39229
        with:
          # sonarqube inputs
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          sonar-host-url: ${{ secrets.SONAR_HOST_URL }}
          include-lint: true