name: Test deployment
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 21
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest-9

      - name: Install dependencies
        run: cd docs && pnpm install --frozen-lockfile
      - name: Test build website
        run: cd docs && pnpm build
